.App {
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100wh;
}

.info{
  width: 40%;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 14px;
}

.speed{
  color: rgb(49, 49, 244);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}